STABILITY_HOST = 'grpc.stability.ai:443'
STABILITY_KEY = 'YOUR API　KEY'
MOKKER_KEY = 'YOUR API　KEY'
OPENAI_KEY = 'YOUR API　KEY'
UPLOAD_FOLDER = './test'
ALLOWED_EXTENSIONS = set(['pdf', 'png', 'jpg', 'jpeg', 'gif'])
MAX_CONTENT_LENGTH = 16777216